body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid dodgerblue;
  color: dodgerblue;
  font-size: 20px;
  margin: 0px 5px;
}

p {
  font-size: 22px;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

.container h1 {
  text-align: center;
}

.date {
  color: gray;
  font-size: 16px;
}